@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1> Welcome to the  photo </h1>
    <h4> The photo team Shifi Shira Efrat and Miri is waiting for you</h4>

 
  @*   <a asp-action="CreateOrder" class="btn btn-primary">Open Order</a>
    <a asp-action="logIn" class="btn btn-primary">Employee login</a> *@

     <div class="image-container">
        <img src="~/assert/logo.png" alt="Alternate Text" width="700" />
    </div>

</div>
